.App {
  text-align: center;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
  min-height: 100vh;
}

.appBody {
  width: 50vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.ant-row {
  display: flex;
  justify-content: center;
}

.notFound {
  background-color: white;
  width: 100vw;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 50px;
}

.ant-input {
  border-radius: 10px;
}

.ant-btn {
  border-radius: 10px;
  background-color: #1890ff;
  color: white;
}

.ant-card {
  border: 1.5px solid lightgray;
  border-radius: 15px;
}

.submitBtn {
  border-radius: 10px;
  background-color: #1890ff;
  color: white;
  border: none;
  padding: 6px 15px;
}

.submitBtn:hover {
  border-radius: 10px;
  background-color: white;
  color: #1890ff;
  border: 1px solid #1890ff;
  padding: 6px 15px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
